{% extends 'base.html.twig' %}

{% block title %}Film index{% endblock %}

{% block body %}
    <h1>Film index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_de_film</th>
                <th>Realisateur</th>
                <th>Image</th>
                <th>Discription</th>
                <th>Audience</th>
                <th>Prix_film</th>
                <th>Dure_film</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td>{{ film.id }}</td>
                <td>{{ film.nomDeFilm }}</td>
                <td>{{ film.Realisateur }}</td>
                <td>{{ film.image }}</td>
                <td>{{ film.discription }}</td>
                <td>{{ film.audience }}</td>
                <td>{{ film.prixFilm }}</td>
                <td>{{ film.dureFilm ? film.dureFilm|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('film_show', {'id': film.id}) }}">show</a>
                    <a href="{{ path('film_edit', {'id': film.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('film_new') }}">Create new</a>
{% endblock %}
