<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cinema{% endblock %}</title>
       
        {% block stylesheets %}
             <link rel="stylesheet" href="{{asset('css/style.css')}}">
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        {% endblock %}

        {% block javascripts %}
             <script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
        {% endblock %}
    </head>
    <body>
     <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand text-white" href="{{path('cinema')}}"><img src="{{asset('images/logo2.jpg')}}" alt="" style="height: 50px;width: 100px;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                      <a class="nav-link text-white" href="{{ path('cinema') }}">Acceuil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="{{ path('film') }}">Film</a>
                    </li>
                     <li class="nav-item">
                      <a class="nav-link text-white" href="{{ path('publicite') }}">Publicite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Actualités</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contact</a>
                      </li>
                   
                   
                  </ul>

                </ul>

                <ul class="navbar-nav d-flex justify-content-end">

                  {% if app.user %}

                   <li class="nav-item ">
                    <a class="nav-link " >{{ app.user.nom}} {{ app.user.prenom }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="">deconnexion</a>
                  </li>
                  {% else %}

                   <li class="nav-item ">
                    <a class="nav-link text-white" href="">Inscription <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="">Connexion</a>
                  </li>

                  {% endif %}

                  
                 
                </div>
              </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
